# Backend Configuration
PORT=8000
NUM_AGENTS=30
MAX_FPS=30
SIMULATION_WIDTH=1000
SIMULATION_HEIGHT=1000

# Frontend Configuration
VITE_API_URL=ws://localhost:8000/ws/simulation
VITE_HTTP_API=http://localhost:8000
